# Gradle
.gradle/
.gradle
build/
/local.properties
/github.properties

# Android / IntelliJ
.idea/
*.iml
*.iws
*.ipr
.DS_Store

# Kotlin
.kotlin/
*.hprof

# iOS / Xcode
*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
*.perspectivev3
*.users
*.xccheckout
*.xcuserstate
xcuserdata/
DerivedData/
*.app
*.ipa
*.dSYM.zip
*.dSYM
/Podfile.lock
Pods/
**/*.framework
!libs/**/*.framework

# Generated Frameworks in KMP
app/build/xcode-frameworks/
app/build/bin/

# Captures
captures/
.externalNativeBuild
.cxx